* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
html { font-size: 62.5%; /* 62.5% = 10px */ }
body { min-height: 100dvh; }
hl, h2, h3, h4 { text-wrap: Balance; }
p { text-wrap: pretty; }

:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey: #342c2c;
  --color-primary: #ff0800f6;
  --color-secondary: #902020;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  float: none;
}

.imagen {
  z-index: 1;
}
img {
  width: 100%;
  height: 150vh;
}

.title {
  position: fixed;
  top: 15%;
  z-index: 2;
  margin-top: 0;

  font-size: 12vw;
  font-weight: revert;
  line-height: 1;
  letter-spacing: 3rem;
  text-align: center;
  text-transform: uppercase;

  color: #ff0800f0;
  filter: blur(0.6px);
  text-shadow: 0px 0px 10px #000000;
}

.shadow {
  z-index: 3;
  position: absolute;
}

.shadow--sticky {
  position: sticky;
  width: 100%;
  height: 100vh;

  box-shadow: 2px -200px 181px -11px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 2px -200px 181px -11px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: 2px -200px 181px -11px rgba(0, 0, 0, 1) inset;
}

