<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-16" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../assets/Akatsuki icon.jpg" type="image/x-icon">

    <link rel="stylesheet" href="./main.css" />
    <title>main</title>
  </head>
  <body>
    <main>
      <figure class="character_container">
        <img class="character_img" src="../../assets/Deidara/🔥Deidara🔥.webp" alt="Deidara">
          <h1 class="character_name">デイダラ</h1>
          <p  class="character_quote">"Katsu"</p>
      </figure>
      <section class="attributes_container">
        <ul class="attributes_title">
          <li>Cumpleaños:</li>
          <li>Altura:</li>
          <li>Peso:</li>
          <li>Aldea:</li>
          <li>Habilidad:</li>
        </ul>
        <ul class="attributes_date">
          <li>5 de mayo</li>
          <li>1,66m</li>
          <li>50.8kg</li>
          <li>Iwagakure</li>
          <li>Explosión</li>
        </ul>
      </section>  
    </main>
  </body>
</html>
