* {
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  html { font-size: 62.5%; /* 62.5% = 10px */ }
  body { min-height: 100dvh; }
  hl, h2, h3, h4 { text-wrap: Balance; }
  p { text-wrap: pretty; }

  body {
    background-color: #191c29;
    color: white; 
  }

  main {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;    

    height: 100vh;
  }

  .character_container {
    height: 50%;
    width: auto;
    margin-right: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .character_img {
    height: 85%;
    width: auto;
    border-radius: 7%;
  }

  .character_name {
    height: 15%;
    font-size: 4rem;
    font-weight: bold;
  }

  .character_quote { 
    height: 10%;
    font-size: 3rem;
    font-style: italic;
    border-bottom: solid 1px red;
  }

  .attributes_container {
    height: 60%;
    width: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-between; 
  }

  .attributes_container ul {
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
  }

  .attributes_container li {
    font-size: 3rem;
    list-style: none;

    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center;

    letter-spacing: 0.3rem;
  }

  .attributes_title {
    font-size: 3rem;
    font-weight: bold;
  }

  .attributes_date {
    font-size: 2rem;
    font-weight: normal;
  }

  .attributes_date li:hover {
    text-decoration: underline;
  }
